<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.application.taxivip"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="dev.application.taxivip.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="dev.application.taxivip.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Base.AppCompat.Light.DarkActionBar" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCt7zDBNM3A1WcFiBH31Tmw26UIqA8RAyE" />

        <activity
            android:name="dev.application.taxivip.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.application.taxivip.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.application.taxivip.UserFormActivity"
            android:label="@string/title_activity_user_form"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="dev.application.taxivip.RequestSuccessActivity"
            android:label="@string/title_activity_register_success"
            android:parentActivityName="dev.application.taxivip.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.application.taxivip.MainActivity" />
        </activity>
        <activity
            android:name="dev.application.taxivip.RegisterUserFormActivity"
            android:label="@string/title_activity_register_user_form" >
        </activity>
        <activity
            android:name="dev.application.taxivip.WhoIsMyTaxiActivity"
            android:label="@string/title_activity_who_is_my_taxi"
            android:parentActivityName="dev.application.taxivip.RequestSuccessActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.application.taxivip.RequestSuccessActivity" />
        </activity>
    </application>

</manifest>
